<form id="static-form" method="post">
    <label for="n">Please Enter a Number Below:</label>
    <br>
    <input type="number" name="number" id="n" placeholder="Ex: 0">
    <br>
    <button type="submit">Check</button>
</form>

<div id="err" class="err hide"></div>

<ul id="attempts"></ul>