<form id="signup-form" action="/signup" method="POST">
    <label for="username">Username:</label>
    <br>
    <input id="username" name="username" type="text"/>
    <br>
    <label for="password">Password:</label>
    <br>
    <input id="password" name="password" type="text"/>
    <br>
    <button type="submit">Signup</button>
</form>

<div id="err" class="err {{cl}}">{{err}}</div>

<a href="/">Already have an account? Click here to log-in</a>